---
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;
---

<!-- FIXME: Dynamic shape-->
<Layout title="Blog">
  <h2>The registe id is {id}</h2>
</Layout>

<!-- FIXME: Static shape -->
<!-- ---
import Layout from "../../layouts/Layout.astro";

/* export function getStaticPaths() {
  return [
    { params: { id: "123" } },
    { params: { id: "123456" } },
    { params: { id: "123_hello" } },
  ];
} */


const { id } = Astro.params;
---

<Layout title="Blog">
  <h2>The registe id is {id}</h2>
</Layout>
-->
