<script>
  const button = document.getElementById("btn");
  button?.addEventListener("click", function () {
    alert("Hello World");
  });
</script>

<button class="back" id="btn">Click me</button>

<style>
  .back {
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: aqua;
    transition: 1s;
  }
  .back:hover {
    background-color: blue;
    color: white;
  }
</style>
