---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Card from "../components/Card.astro";
import Profile from "../components/Profile.astro";
import Button from "../components/widgets/button.astro";
import Card2 from "../components/Card2.astro";
import Json from "../components/Json.astro";
---

<Layout title="Hello Astro.">
	<Title />
	<div class="flex justify-center">
		<Profile hello="Hello" welcome="Welcome my profile" />
		<Card name="Lucas" profession="Software ingenire" avatar={true} />
		<Card name="Maria" avatar={false}>
			<p slot="parrafo" class="text-gray-500">Lorem ipsum dolor sit amet.</p>
		</Card>
		<Card2 title="Mayer" description="Todo el dia" />
	</div>
	<!-- <br /> -->
	<Button />
	<br />
	<Json />
	<div class="h-96 bg-red-400">
		<!-- <p class="text-center text-white">Footer</p> -->
	</div>
</Layout>
